{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% block title %}{{ '管理后台'|trans }}{% endblock %}
{% set panel = 'dashboard' %}
{% set script_controller = 'default/index' %}
{% block content %}
  <div class="page-header">
    <h1>{{ '管理中心'|trans }}  </h1>
  </div>
  {% if is_granted('ROLE_BACKEND') %}

    <div class="row">



      <div class="col-md-12">
        欢迎页面；这里放网站数据统计

      </div>
      {#     <div class="col-md-6">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" id="open-message-title" data-url="{{path('admin_official_messages')}}">{{ 'EduSoho官方消息'|copyright_less }}</h3>
              </div>
              <div id="edusoho-open-message" >
                <div class="empty">正在载入数据，请稍等。</div>
              </div>
            </div>
          </div> #}


  {% else %}
    <div class="row">
      <div class="col-md-12">
        <h4>{{ '欢迎来到%name%管理后台'|trans({'%name%': setting('site.name') }) }}</h4>
      </div>
    </div>
  {% endif %}

  <input type="hidden" id="admin-notice" value="{{ path('admin_notice_modal') }}"/>
{% endblock %}